@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Rubik",Arial, Helvetica, sans-serif;
}

.head {
	font-weight: 900;
  /* background: url('../public/ice.jpg') no-repeat; */
  background-size: cover;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #4f8fab54;
  filter:	
		drop-shadow(0 0 2px rgba(255,255,255, 0.7))
		drop-shadow(0 0 30px rgba(58, 122, 155, 0.8));
}
